ul.dwitter-menu{
    list-style-type: none;
    display: flex;
    gap : 10px;   
    justify-content: right; /* 오른쪽으로 정렬 */ 
    margin-right: 20px;
}

.dwitter-menu li{
   padding: 5px 10px;
    border : 1px solid white;
    border-radius: 5px;
    font-size: 12px;
}

.dwitter-container{
    width : 800px;
    margin: auto;
    padding : 20px;
    background-color: yellowgreen;
    
}

.dwitter {
    width : 95%;
    margin : auto;
    padding : 10px;
    border : 1px solid white;
    border-radius: 0.5rem;
    margin-bottom : 10px;
    display : flex; 
    background-color: rgb(130, 255, 255);
}
.dwitter-image{
    /* float : left; /*이미지만 가운데이고 텍스트는 가운데 */
}


 .dwitter-image img{
    width : 100px;
    height: 100px;
    border-radius: 100%;
}
.title{
    text-indent: 20px;
    padding : 20px
}
.content {
    height: 50px;
    text-indent: 20px;
    margin-top : 5px;

}